body {
  margin: 0;
}

.splash {
  text-align: center;
  margin: 10% 0 0 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.splash .message {
  font-size: 30px;
  line-height: 24px;
  text-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;
}

.splash .fa-spinner {
  text-align: center;
  display: inline-block;
  font-size: 24px;
}

.page-host {
  position: absolute;
  left: 0;
  right: 0;
  top: 0px;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.admin-page-host {
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

section {
  margin: 20px;
}

/*

Cards

*/

.card-container {
  display:flex;
  flex-wrap:wrap;
  justify-content:flex-start;
  align-content:stretch;
  flex-direction:row;

  margin: 0px;
  padding:10px;
  max-height:100%;
  font-size: 1.2vw;
}
.card{
  background-color: #0f7595;
  margin: .4rem;
  border: 1px solid #e5e5e5;
  border-radius: .7rem;
  color: #ffffff;
  padding: 10px;
  min-width: 1px;
  max-width: 100%;
  border: solid 1px;
  /*max-height: 100%;
  max-width: 100%;*/
}
.card-success{
  background-color: #5cb85c;
  border-color: #418241
}
.card-danger{
  background-color: #d9534f;
  border-color: #a54845
}

.container-success{
  background-color: rgba(193,223,158,1);
}
.container-failure{
  background-color: #f95959;
}